.wrapper {
	background: url(../images/bg.png) center center;
	height: 100%;
}

.actor__profile-tabs {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

#actor__profile-tabs-nav {
	margin-right: -4px;
	margin-top: 75px;
	position: relative;
	flex: 0 0 40px;
}

a.tabs-menu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 42px;
	background-color: #fafafa;
	text-decoration: none;
	border-right: 0;
	margin-bottom: 31px;
	border-radius: 6px 6px 0 0;
	z-index: 2;
	cursor: pointer;
	transform: rotate(-90deg);
	box-shadow: rgba(0, 0, 0, 0.1) -3px 2px 5px, inset rgba(0, 0, 0, 0.1) 1px 0 0 0;
}

a.tabs-menu svg {
	transform: rotate(90deg);
}

a.tabs-menu:before,
a.tabs-menu:after {
	display: block;
	content: ' ';
	position: absolute;
	top: 0px;
	height: 100%;
	width: 18px;
	background-color: #fafafa;
}

a.tabs-menu:before {
	right: -8px;
	transform: skew(22deg, 0deg);
	border-radius: 0 6px 0 0;
	box-shadow: rgba(0, 0, 0, 0.1) 3px 2px 5px, inset rgba(0, 0, 0, 0.1) -1px 0 0 0;
}

a.tabs-menu:after {
	left: -8px;
	transform: skew(-22deg, 0deg);
	border-radius: 6px 0 0 0;
	box-shadow: rgba(0, 0, 0, 0.1) -3px 2px 5px, inset rgba(0, 0, 0, 0.1) 1px 0 0 0;
}

a.tabs-menu.tabs-menu-active {
	background-color: #fff;
	box-shadow: none;
	z-index: 3;
}

a.tabs-menu.tabs-menu-active:after,
a.tabs-menu.tabs-menu-active:before {
	background-color: #fff;
}

a.tabs-menu.tabs-menu-active:after {
	box-shadow: rgba(0, 0, 0, 0.1) -3px 0px 0px, inset rgba(0, 0, 0, 0.1) 1px 0 0 0;
}

a.tabs-menu.tabs-menu-active:before {
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 0, inset rgba(0, 0, 0, 0.1) 0 0 0 0;
}

a.tabs-menu.tabs-menu-active .tabs-img-1 circle,
a.tabs-menu.tabs-menu-active .tabs-img-1 path,
a.tabs-menu.tabs-menu-active .tabs-img-3 path,
a.tabs-menu.tabs-menu-active .tabs-img-4 path {
	stroke: #616161;
}

a.tabs-menu.tabs-menu-active .tabs-img-2 path {
	fill: #616161;
}

a.tabs-menu.tabs-menu-active .tabs-img-5 path:first-child,
a.tabs-menu.tabs-menu-active .tabs-img-5 path:nth-child(5),
a.tabs-menu.tabs-menu-active .tabs-img-5 path:nth-child(6),
a.tabs-menu.tabs-menu-active .tabs-img-5 path:nth-child(7) {
	fill: #616161;
}

.tabs-content {
	flex: 0 1 551px;
	height: 100vh;
	box-shadow: -1px 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	overflow: hidden;
}
.tabs-panel {
	display: none;
	overflow: auto;
	padding: 32px;
	height: 100%;
}

.actor__profile-foto {
	display: flex;
	justify-content: space-between;
}

.actor__profile-foto-large {
	width: 305px;
	height: 512px;
}

.actor__profile-foto-small {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.actor__profile-foto-small-img {
	width: 178px;
	height: 254px;
}

.actor__profile-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 15px;
}

.actor__profile-nav-title {
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.15px;
	color: #212121;
	margin-top: 4px;
}

.actor__profile-nav-buttons {
	display: flex;
	align-items: center;
}

.actor__profile-nav-icons {
	margin: 0 9px 0 0;
}

.actor__profile-nav-btn {
	margin: 0 0 0 15px;
}

.actor__profile-content {
	display: flex;
	margin-top: 32px;
}

.actor__profile-content-item {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.actor__profile-content-item-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: 8px;
	background-color: #fafafa;
	border: 1px solid #e7e7e7;
}

.actor__profile-text-details {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #212121;
}
