.square-btn-32 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.blue-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 24px;
	height: 24px;
	font-size: 13px;
	letter-spacing: 0.4px;
	border-radius: 4px;
	color: #fff;
	background: #1991eb;
	transition: 0.2s ease;
	&.--inactive {
		background: #c6e4fa;
		&:hover,
		&:active {
			background: #c6e4fa;
		}
	}
	&.--medium {
		height: 32px;
		font-size: 15px;
		letter-spacing: 0.5px;
	}
	&.--large {
		height: 40px;
		font-size: 16px;
		letter-spacing: 0.5px;
	}
	&:hover,
	&:active {
		background: #127fd1;
	}
	&:focus-visible {
		background: #1991eb;
		border: 2px solid #7bb9f0;
	}
}

// Создать кастинг
.wide-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 250px;
	height: 40px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 20px;
	letter-spacing: 0.25px;
	border-radius: 8px;
	color: #fff;
	background: #1991eb;
	border: 2px solid transparent;
	transition: 0.2s ease all;
	&:hover {
		background: #127fd1;
	}

	&:focus-visible {
		background: #1991eb;
		border: 2px solid #7bb9f0;
	}

	&:active {
		background: #127fd1;
	}
}

// Прозрачная кнопка
.transparent-btn {
	display: inline-block;
	text-align: center;
	min-width: 108px;
	height: 32px;
	line-height: 37px;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	color: #616161;
	background: transparent;
}

// Средняя кнопка в дропдауне фильтр
.middle-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 120px;
	height: 32px;
	font-size: 15px;
	padding: 0 20px;
	letter-spacing: 0.5px;
	border: 2px solid transparent;
	border-radius: 4px;
	color: #fff;
	background: #1991eb;
	transition: 0.2s ease all;
	&:hover {
		background: #127fd1;
	}

	&:focus-visible {
		background: #1991eb;
		border: 2px solid #7bb9f0;
	}

	&:active {
		background: #127fd1;
	}
}

// Кнопка с тремя синими точками
.points-blue-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	background: #dbedff;
	& span {
		border-radius: 50%;
		width: 4px;
		height: 4px;
		background-color: #1991eb;
		margin-right: 2px;
		&:last-child {
			margin-right: 0;
		}
	}
}

// Кнопка удаления кастинга
.delete-casting-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	background: #dbedff;
	transition: all 0.2s ease;
	&:hover {
		background: #a0cfff;
		& svg path {
			stroke: #127fd1;
		}
	}
}

// Кнопка с тремя серыми точками
.points-grey-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background: #f5f5f5;
	& span {
		border-radius: 50%;
		width: 4px;
		height: 4px;
		background-color: #9e9e9e;
		margin-right: 2px;
		&:last-child {
			margin-right: 0;
		}
	}
}

// Кнопка отправить приглашение
.send-invitation-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 195px;
	height: 32px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	padding: 2px 5px 0 5px;
	margin-right: 12px;
	border-radius: 4px;
	color: #1991eb;
	background: #dbedff;
	transition: 0.2s ease;
	&:hover {
		background: #a0cfff;
		color: #127fd1;
	}
	& .send-invitation-img {
		display: none;
	}

	&.active {
		min-width: 32px;
		padding: 0;

		& .send-invitation-img {
			display: block;
		}
		&:hover svg path {
			stroke: #127fd1;
		}
	}
}

// Белая широкая кнопка в dropdown
.white-dropdown-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 296px;
	height: 40px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 20px;
	letter-spacing: 0.4px;
	border-radius: 4px;
	color: #212121;
	background: #fff;
	border: 1px solid #e8e8e8;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
	&:hover {
		box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
	}
}

// Статусы
.status-default {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 4px;
	padding: 0 10px;
	height: 20px;
	font-size: 10px;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 700;
	letter-spacing: 0.4px;
	border-radius: 100px;
	color: #70a8dd;
	background: #dbedff;
	&:last-child {
		margin-right: 0;
	}
}

.status-mainRole {
	color: #9e9e9e;
	background: #f5f5f5;
}

.status-onCheck {
	color: #e0865e;
	background: #f2cbba;
}

.status-approved {
	color: #35b887;
	background: #b0ead5;
}

.status-blocked {
	color: #9e9e9e;
	background: #e0e0e0;
}

.data-filterBtn {
	font-weight: 700;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 12px;
	letter-spacing: 0.4px;
	color: #bdbdbd;
	&.--active {
		color: #70a8dd;
	}
}

.status-counter {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 700;
	height: 20px;
	color: #9e9e9e;
	min-width: 32px;
	letter-spacing: 0.4px;
	border-radius: 100px;
	background: #f5f5f5;
}

// Счетчик в хедере карточки на главной
.item-counter {
	display: inline-flex;
	justify-content: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	padding: 0 6px;
	height: 20px;
	color: #bdbdbd;
	min-width: 20px;
	letter-spacing: 0.4px;
	border: 1px solid #bdbdbd;
	border-radius: 4px;
	background: #fafafa;
}

// Большая кнопка в карточке актера
.card-large-btn {
	display: inline-flex;
	justify-content: space-between;
	height: 24px;
	min-width: 105px;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 2px;
	padding: 0 11px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	color: #fff;
	border: 2px solid transparent;
	background: #1991eb;
	transition: 0.2s ease all;
	&:hover {
		background: #127fd1;
	}

	&:focus-visible {
		background: #1991eb;
		border: 2px solid #7bb9f0;
	}

	&:active {
		background: #127fd1;
	}

	&.--accept {
		background: #df8282;

		&:hover {
			background: #d65f5f;
		}

		&:focus-visible {
			background: #df8282;
			border: 2px solid #ebb1b1;
		}

		&:active {
			background: #d65f5f;
		}
	}

	&.--return {
		background: #009a61;
		padding: 0 8px 0 10px;
		& span {
			margin-top: 1px;
		}
		&:hover {
			background: #008755;
		}

		&:focus-visible {
			background: #009a61;
			border: 2px solid #8ccab3;
		}

		&:active {
			background: #008755;
		}
	}
}

// Start: Switch buttons

.switch__wrapper {
	padding: 2px;
	background: #eee;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 32px;
}

.switch {
	display: flex;
	width: 100%;
	height: 27px;
	will-change: transform;
	cursor: pointer;
	transition: 0.3s ease all;
}

.switch__item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	font-size: 13px;
	letter-spacing: 0.4px;
	height: 100%;
	color: #616161;
	position: relative;
	border: none;
	transition: 0.3s ease all;
}

.switch__item:focus {
	outline: none;
}

.switch__slider {
	color: #61707d;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: -1;
	transition: 0.3s ease-out all;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
}

// End: Switch buttons

// Кнопка закрыть-удалить у фильтра
.forFilterBtn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 1px;
	height: 32px;
	min-width: 32px;
	border-left: 1px solid #fff;
	border-radius: 0px 4px 4px 0px;
	background: #f5f5f5;
	transition: 0.2s ease;
	&:hover {
		background: #dfdfdf;

		& svg path {
			stroke: #474747;
		}
	}
}

.secondary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 24px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	color: #757575;
	transition: 0.2s ease;

	&:focus-visible {
		border: 2px solid #7bb9f0;
	}

	@media (min-width: 1025px) {
		&:hover {
			background: #fafafa;
			border: 1px solid #757575;
			color: #424242;
		}
	}

	&:active {
		background: #fafafa;
		border: 1px solid #757575;
		color: #424242;
	}

	&.--inactive {
		color: #e0e0e0;
		cursor: auto;
		&:hover,
		&:active {
			background: transparent;
			border: 1px solid #e0e0e0;
			color: #e0e0e0;
		}
	}
}

.cancelPopup-btn {
	min-width: 106px;
}

.primary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 24px;
	border-radius: 4px;
	border: 2px solid transparent;
	color: #fff;
	background: #1991eb;
	transition: 0.2s ease all;

	&:focus-visible {
		background: #1991eb;
		border: 2px solid #7bb9f0;
	}

	@media (min-width: 1025px) {
		&:hover {
			background: #127fd1;
		}
	}

	&:active {
		background: #127fd1;
	}
}

.white-btn-48 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border: 1px solid #e7e7e7;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	background: #fff;
}

.transfer-actors-close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent;
	transition: all 0.2s;
	&:hover svg path {
		stroke: #616161;
	}
}

// Прозрачная кнопка назад с синим border
.medium-secondary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	font-size: 15px;
	padding: 0 12px;
	letter-spacing: 0.5px;
	border-radius: 4px;
	border: 1px solid #1991eb;
	color: #1991eb;
	background: transparent;
	transition: all 0.2s;
	&:focus-visible {
		background: #f4f6f6;
		border: 2px solid #7bb9f0;
		color: #0064c1;
	}
	&:hover,
	&:active {
		background: #f4f6f6;
		border: 1px solid #0064c1;
		color: #0064c1;
	}
}

.close-x-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 24px;
	height: 24px;
	background: transparent;
	transition: all 0.2s;
	&:hover,
	&:active {
		& svg path {
			transition: all 0.2s;
			stroke: #212121;
		}
	}
}

// Прозрачная кнопка закрытия с border
.close-btn-32 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 32px;
	height: 32px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background: transparent;
	transition: all 0.2s;
	&:focus-visible {
		border: 2px solid #7bb9f0;
		background: #f4f6f6;
	}

	@media (min-width: 1280px) {
		&:hover {
			background: #e0e0e0;
			color: #424242;

			& svg path {
				transition: all 0.2s;
				stroke: #757575;
			}
		}
	}

	&:active {
		background: #e0e0e0;
		color: #424242;

		& svg path {
			transition: all 0.2s;
			stroke: #757575;
		}
	}
}

.close-btn-40 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 40px;
	height: 40px;
	border: none;
	border-radius: 4px;
	background: #eee;
	transition: all 0.2s;
	&:focus-visible {
		background: #f4f6f6;
	}
	&:hover,
	&:active {
		background: rgb(199, 199, 199);

		& svg path {
			transition: all 0.2s;
			stroke: #6d6d6d;
		}
	}
}

.dropdown-date-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 0 10px 0 12px;
	min-height: 40px;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background-color: #fafafa;
	&:hover {
		border: 1px solid #bdbdbd;
	}
}

.light-blue-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 15px;
	letter-spacing: 0.5px;
	padding: 0 16px;
	border-radius: 4px;
	color: #1991eb;
	background: #dbedff;
	transition: 0.2s ease;
	&:hover {
		background: #a0cfff;
		color: #127fd1;
	}
}

.add-role {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 16px;
	font-size: 14px;
	letter-spacing: 0.25px;
	padding: 0 8px;
	color: #1991eb;
	background: transparent;
	transition: 0.2s ease;
	&:hover {
		color: #127fd1;
		& .plus-blue-icon path {
			stroke: #127fd1;
		}
	}
}

.close-circle-btn {
	position: absolute;
	right: 6px;
	top: 6px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 32px;
	background: transparent;
	&:hover svg path {
		fill: #9e9e9e;
	}
}

.close-circle-blue-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 32px;
	background: transparent;
	transition: 0.2s ease;
	&:hover svg path {
		fill: #127fd1;
	}
}

.edit-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	font-size: 12px;
	letter-spacing: 0.4px;
	color: #1991eb;
	background: transparent;
	transition: 0.2s ease;
	&:hover,
	&:active {
		color: #106db3;
	}
}

.link-btn-light-blue {
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #acd4fa;
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		bottom: 2px;
		left: 0;
		height: 1px;
		background-color: #acd4fa;
	}
	&:hover {
		color: #87c2f8;
	}
}

.btn-underline {
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.25px;
	border-bottom: 1px solid #1991eb;
	color: #1991eb;
	&:hover,
	&:active {
		color: #106db3;
	}

	&.--large {
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 0.5px;
	}

	&.--disabled {
		color: #acd4fa;
		border-bottom: 1px solid #acd4fa;
		cursor: auto;
		&:hover {
			color: #acd4fa;
			border-bottom: 1px solid #acd4fa;
		}
	}
}
