// Start: Общие стили для дропдауна
.dropdown-wrapper {
	position: relative;
}

.dropdown-inner {
	position: absolute;
	width: 198px;
	top: 36px;
	right: 0;
	z-index: 100;
	padding: 11px 14px;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;

	// opacity: 1;
	// visibility: visible;

	& li {
		padding: 8px 0;
	}

	& button {
		display: flex;
		align-items: center;
	}
}

.dropdown-wrapper .dropdown-inner {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.dropdown-wrapper:hover .dropdown-inner {
	opacity: 1;
	visibility: visible;
}

.dropdown-btn {
	position: relative;
	transition: all 0.2s;

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: -8px;
		left: -8px;
		right: -8px;
		bottom: -8px;
	}
}
// End: Общие стили для дропдауна

// Start: Серая кнопка с тремя точками и дропдаун (класс active)
.points-grey-btn-header {
	margin-left: 27px;

	&.active {
		background: #e0e0e0;
		& span {
			background-color: #757575;
		}
	}
}

.points-grey-text {
	margin-left: 12px;
	margin-top: 2px;
}
// End: Серая кнопка с тремя точками и дропдаун (класс active)

// Start: Синяя кнопка с тремя точками и дропдаун (класс active)
.dropdown-blue-inner {
	left: 0;
	width: 206px;
	top: 44px;
}

.points-blue-btn-sidebar {
	&.active {
		background: #a0cfff;
		& span {
			background: #127fd1;
		}
	}
}

.points-blue-text {
	margin-left: 12px;
	margin-top: 2px;
}
// End: Синяя кнопка с тремя точками и дропдаун (класс active)

// Start: Серая маленькая кнопка с тремя точками и дропдаун (класс active), где Заявки
.dropdown-request-inner {
	width: 214px;
	right: 0;
	top: 27px;
}

.item-points-grey-btn {
	width: 24px;
	height: 24px;
}

.request-btn {
	&.active {
		background: #e0e0e0;
		& span {
			background: #757575;
		}
	}
}
// End: Серая маленькая кнопка с тремя точками и дропдаун (класс active), где Заявки

// Start: Серая маленькая кнопка с тремя точками и дропдаун (класс active), где Одобренные
.dropdown-approved-inner {
	right: 0;
	width: 198px;
	top: 27px;
}

.approved-btn {
	&.active {
		background: #e0e0e0;
		& span {
			background: #757575;
		}
	}
}
// End: Серая маленькая кнопка с тремя точками и дропдаун (класс active), где Одобренные

// Start: dropdown "Главная роль"
.dropdown-mainRole {
	margin-right: 8px;
}
.mainRole-dropdown-btn {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 10px;
	font-weight: 700;
	padding: 0 8px 0 10px;
	text-transform: uppercase;
	height: 20px;
	min-width: 115px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	letter-spacing: 0.4px;
	color: #757575;
	background-color: #f5f5f5;
	transition: all 0.2s;
	&.active {
		color: #424242;
		& .mainRole-dropdown-arrow-box svg path {
			fill: #757575;
		}
	}
}

.mainRole-dropdown-title {
	margin: 0 auto 0 0;
}

.mainRole-dropdown-arrow-box {
	display: flex;
}

.dropdown-mainRole .mainRole-dropdown-arrow {
	transition: transform 0.2s;
}

.dropdown-mainRole .dropdown-mainRole-inner {
	width: 356px;
	border-radius: 8px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
	left: 0;
	top: 24px;
	padding: 8px;
}

.dropdown-mainRole .dropdown-mainRole-inner {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.dropdown-mainRole:hover .dropdown-mainRole-inner {
	opacity: 1;
	visibility: visible;
}

.dropdown-mainRole:hover .mainRole-dropdown-arrow {
	transform: rotate(180deg);
}

.dropdown-mainRole .dropdown-mainRole-item {
	padding: 8px 12px;
	&:hover {
		background-color: #f2f2f2;
		border-radius: 4px;
	}
}

.dropdown-mainRole-item-title {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #424242;
}

.dropdown-mainRole-item-text {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #bdbdbd;
}

.mainRole-btn {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.mainRole-line {
	margin-right: 8px;
}

// End: dropdown "Главная роль"

// Start: filter-dropdown

.main-header-top-filter {
	position: relative;
	display: flex;
	min-width: 112px;
	margin-right: 27px;
	margin-left: 8px;
}

.filter-dropdown-btn {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	padding: 0 12px;
	height: 32px;
	border-radius: 4px;
	border: 2px solid transparent;
	letter-spacing: 0.25px;
	color: #616161;
	background-color: #f5f5f5;
	transition: all 0.2s;
	&.active {
		color: #212121;
		border: 2px solid #70a8ddb3;
	}
}

.filter-dropdown-btn.--hasForFilterBtn {
	border-radius: 4px 0 0 4px;
}

.filter-dropdown-btn:before {
	content: '';
	position: absolute;
	display: block;
	top: -8px;
	left: -8px;
	right: -8px;
	bottom: -8px;
}

.filter-dropdown-icon {
	display: flex;
	background: url(../images/dropdown-filter.svg) 0 0 no-repeat;
	width: 16px;
	height: 16px;
}

.main-header-top-filter:hover .filter-dropdown-icon {
	background: url(../images/dropdown-filter-blue.svg) 0 0 no-repeat;
}

.filter-dropdown-title {
	margin: 0 auto 0 4px;
}

.filter-dropdown-arrow {
	display: flex;
}

.filter-dropdown-num {
	display: flex;
}

.main-header-top-filter .dropdown-arrow {
	transition: transform 0.2s;
}

.filter-dropdown-menu {
	position: absolute;
	width: 336px;
	top: 36px;
	padding: 24px;
	right: 0;
	z-index: 100;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
}

.filter-dropdown-menu-title {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #424242;
	margin-bottom: 8px;
}

.filter-dropdown-input {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	padding: 0 12px;
	border-radius: 4px;
	background: #fafafa;
	border: 1px solid #e0e0e0;
	margin-bottom: 16px;
	&.active {
		.filter-dropdown-input-list {
			opacity: 1;
			visibility: visible;
		}
	}
}

.filter-dropdown-input .dropdown-input {
	background: transparent;
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #616161;
}

.filter-dropdown-input-list {
	position: absolute;
	top: 41px;
	left: 0;
	width: 286px;
	padding: 8px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	background: #fff;
}

.filter-dropdown-input .filter-dropdown-input-list {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.filter-dropdown-input-btn {
	padding: 0 12px;
	width: 100%;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:hover {
		background: #f2f2f2;
		border-radius: 4px;
	}
}

.filter-dropdown-input-btn-text {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #424242;
}

.filter-dropdown-input-btn-add {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #bdbdbd;
}

.range-slider-age {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 37px;
}

.range-slider-number {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #757575;
}

.range-slider-dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #e0e0e0;
}

.filter-dropdown-skills {
	font-size: 0;
	margin-top: 20px;
}

.main-header-top-filter .filter-dropdown-menu {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.main-header-top-filter:hover .filter-dropdown-menu {
	opacity: 1;
	visibility: visible;
}

.main-header-top-filter:hover .dropdown-arrow {
	transform: rotate(180deg);
}

.filter-dropdown-inner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 40px;
	width: 288px;
	background: #fafafa;
	border-radius: 4px;
}

.filter-dropdown-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 24px;
}

// End: filter-dropdown

// Srart: dropdown tags в карточке актёра
.number-tag-dropdown {
	display: inline-block;
}
.number-tag-dropdown-wrapper {
	width: 171px;
	left: 0;
	top: 23px;
	padding: 11px 4px 3px 12px;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 6px;
}

.item-number-tag {
	cursor: pointer;
}

.item-tag.item-tag-drop {
	margin: 0 4px 8px 0;
}

.number-tag-dropdown:hover .item-number-tag {
	background: #dfdfdf;
	color: #474747;
}
// End: dropdown tags в карточке актёра
