// Start: Общие стили для дропдауна
.dropdown-wrapper {
	position: relative;
}

.dropdown-inner {
	position: absolute;
	width: 198px;
	top: 36px;
	right: 0;
	z-index: 100;
	padding: 11px 8px;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;

	// opacity: 1;
	// visibility: visible;

	& li {
		padding: 8px;
		cursor: pointer;

		&:hover {
			background: #f2f2f2;
			border-radius: 4px;
		}
	}

	& button {
		display: flex;
		align-items: center;
	}
}

.dropdown-wrapper .dropdown-inner {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.dropdown-wrapper:hover .dropdown-inner {
	opacity: 1;
	visibility: visible;
}

.dropdown-wrapper:hover .points-grey-btn {
	background: #e0e0e0;

	& span {
		background: #757575;
	}
}

.dropdown-btn {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: -8px;
		left: -8px;
		right: -8px;
		bottom: -8px;
	}
}

// End: Общие стили для дропдауна

// Start: Серая кнопка с тремя точками и дропдаун (класс active)
.points-grey-btn-header {
	transition: all 0.2s;

	&.active {
		background: #e0e0e0;

		& span {
			background-color: #757575;
		}
	}
}

.points-grey-text {
	margin-left: 12px;
	margin-top: 2px;
}

// End: Серая кнопка с тремя точками и дропдаун (класс active)

// Start: Серая кнопка с тремя точками и дропдаун в профиле актера (класс active)
.points-grey-btn-profile {
	transition: all 0.2s;

	&.active {
		background: #e0e0e0;

		& span {
			background-color: #757575;
		}
	}
}

// End: Серая кнопка с тремя точками и дропдаун в профиле актера (класс active)

.dropdown-blue-inner {
	left: 0;
	width: 206px;
	top: 44px;
}

.points-blue-btn-sidebar {
	transition: all 0.2s;

	&.active {
		background: #a0cfff;

		& span {
			background: #127fd1;
		}
	}
}

.points-blue-text {
	margin-left: 12px;
	margin-top: 2px;
}

// End: Синяя кнопка с тремя точками и дропдаун (класс active)

// Start: Серая маленькая кнопка с тремя точками и дропдаун (класс active), где Заявки
.dropdown-request-js {
	position: relative;
}

.dropdown-request:hover .points-grey-btn {
	background: #e0e0e0;
	& span {
		background: #757575;
	}
}

.dropdown-request-js .dropdown-request-inner {
	opacity: 0;
	visibility: hidden;
}

.dropdown-request-js .dropdown-request-inner.active {
	opacity: 1;
	visibility: visible;
}

.dropdown-request-inner {
	width: 280px;
	right: 0;
	top: 27px;
	transition: all 0.2s;
}

.item-points-grey-btn {
	width: 24px;
	height: 24px;
}

.request-btn {
	&.active {
		background: #e0e0e0;

		& span {
			background: #757575;
		}
	}
}

.collapse-column {
	display: none;
}

// End: Серая маленькая кнопка с тремя точками и дропдаун (класс active), где Заявки

// Start: Дропдаун Массовый перенос актёров
.dropdown-transfer {
	position: relative;
}

.dropdown-transfer-actors {
	position: absolute;
	right: 0;
	z-index: 100;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	width: 328px;
	right: 0;
	top: 27px;
	padding: 20px 24px;
}

.dropdown-transfer .dropdown-transfer-actors {
	opacity: 0;
	visibility: hidden;
}

.dropdown-transfer .dropdown-transfer-actors.active {
	opacity: 1;
	visibility: visible;
}

// .dropdown-request .dropdown-transfer-actors {
// 	opacity: 1;
// 	visibility: visible;
// }

.dropdown-transfer-actors-title {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #a0afbb;
	margin-bottom: 24px;
}

// End: Дропдаун Массовый перенос актёров

// Start: Серая маленькая кнопка с тремя точками и дропдаун (класс active), где Одобренные
.dropdown-approved-inner {
	right: 0;
	width: 198px;
	top: 27px;
}

.approved-btn {
	&.active {
		background: #e0e0e0;

		& span {
			background: #757575;
		}
	}
}

// End: Серая маленькая кнопка с тремя точками и дропдаун (класс active), где Одобренные

// Start: dropdown "Главная роль"
.dropdown-mainRole {
	margin-right: 8px;
}

.mainRole-dropdown-btn {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 10px;
	font-weight: 700;
	padding: 0 8px 0 10px;
	text-transform: uppercase;
	height: 20px;
	min-width: 115px;
	border: 1px solid transparent;
	border-radius: 4px;
	letter-spacing: 0.4px;
	color: #757575;
	background-color: #f5f5f5;
	transition: all 0.2s;

	&.active {
		color: #424242;
		border: 1px solid #e0e0e0;

		& .mainRole-dropdown-arrow-box svg path {
			fill: #757575;
		}
	}
}

.mainRole-dropdown-title {
	margin: 0 auto 0 0;
}

.mainRole-dropdown-arrow-box {
	display: flex;
}

.dropdown-mainRole .mainRole-dropdown-arrow {
	transition: transform 0.2s;
}

.dropdown-mainRole .dropdown-mainRole-inner {
	width: 356px;
	border-radius: 8px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
	left: 0;
	top: 24px;
	padding: 8px;
}

.dropdown-mainRole .dropdown-mainRole-inner {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.dropdown-mainRole:hover .dropdown-mainRole-inner {
	opacity: 1;
	visibility: visible;
}

.dropdown-mainRole:hover .mainRole-dropdown-arrow {
	transform: rotate(180deg);
}

.dropdown-mainRole .dropdown-mainRole-item {
	padding: 8px 12px;

	&:hover {
		background-color: #f2f2f2;
		border-radius: 4px;
	}
}

.dropdown-mainRole-item-title {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #424242;
}

.dropdown-mainRole-item-text {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #bdbdbd;
}

.mainRole-btn {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.mainRole-line {
	margin-right: 8px;
}

// End: dropdown "Главная роль"

// Start: filter-dropdown

.main-header-top-filter {
	position: relative;
	display: flex;
	min-width: 112px;
	margin-left: 8px;
}

.filter-dropdown-btn {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	padding: 0 12px;
	height: 32px;
	border-radius: 4px;
	border: 2px solid transparent;
	letter-spacing: 0.25px;
	color: #616161;
	background-color: #f5f5f5;
	transition: all 0.2s;

	&.active {
		color: #212121;
		border: 2px solid #70a8ddb3;
	}
}

.filter-dropdown-btn.--hasForFilterBtn {
	border-radius: 4px 0 0 4px;
}

.filter-dropdown-btn:before {
	content: '';
	position: absolute;
	display: block;
	top: -8px;
	left: -8px;
	right: -8px;
	bottom: -8px;
}

.filter-dropdown-icon {
	position: relative;
	width: 16px;
	height: 16px;

	& svg {
		position: absolute;
		left: 0;
		right: 0;
	}
}

.filter-dropdown-icon-second {
	opacity: 0;
}

.main-header-top-filter:hover .filter-dropdown-icon {
	& .filter-dropdown-icon-first {
		opacity: 0;
	}

	& .filter-dropdown-icon-second {
		opacity: 1;
 	}
}

.filter-dropdown-title {
	margin: 0 auto 0 4px;
}

.filter-dropdown-arrow {
	display: flex;
}

.filter-dropdown-num {
	display: flex;
}

.main-header-top-filter .dropdown-arrow {
	transition: transform 0.2s;
}

.filter-dropdown-menu {
	position: absolute;
	width: 336px;
	top: 36px;
	padding: 24px;
	right: 0;
	z-index: 100;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
}

.main-header-top-filter .filter-dropdown-menu {
	// opacity: 1;
	// visibility: visible;

	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.main-header-top-filter:hover .filter-dropdown-menu {
	opacity: 1;
	visibility: visible;
}

.filter-dropdown-menu-title {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #424242;
	margin-bottom: 8px;
}

.filter-dropdown-input {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	padding: 0 12px;
	border-radius: 4px;
	background: #fafafa;
	border: 1px solid #e0e0e0;
	margin-bottom: 16px;

	&:hover {
		border: 1px solid #bdbdbd;

		& svg path {
			fill: #9e9e9e;
		}
	}

	&.active {
		border: 2px solid rgba(112, 168, 221, 0.7);
		padding: 0 11px;

		& svg path {
			fill: #9e9e9e;
		}

		.filter-dropdown-input-list {
			opacity: 1;
			visibility: visible;
		}
	}
}

.filter-dropdown-input .dropdown-input {
	background: transparent;
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #424242;

	&::placeholder {
		color: #616161;
	}
}

.filter-dropdown-input-list {
	position: absolute;
	top: 41px;
	left: 0;
	width: 286px;
	padding: 8px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	background: #fff;
}

.filter-dropdown-input .filter-dropdown-input-list {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.filter-dropdown-input-btn {
	padding: 0 12px;
	width: 100%;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&:hover {
		background: #f2f2f2;
		border-radius: 4px;
	}
}

.filter-dropdown-input-btn-text {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #424242;
}

.filter-dropdown-input-btn-add {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #bdbdbd;
}

.range-slider-age {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 37px;
}

.range-slider-number {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #757575;
}

.range-slider-dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #e0e0e0;
}

.filter-dropdown-skills {
	font-size: 0;
	margin-top: 20px;
}

.main-header-top-filter:hover .dropdown-arrow {
	transform: rotate(180deg);
}

.filter-dropdown-inner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 40px;
	width: 288px;
	background: #fafafa;
	border-radius: 4px;
}

.filter-dropdown-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 24px;
}

// End: filter-dropdown

// Srart: dropdown tags в карточке актёра
.number-tag-dropdown {
	display: inline-block;
}

.number-tag-dropdown-wrapper {
	width: 171px;
	left: 0;
	top: 23px;
	padding: 11px 4px 3px 12px;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 6px;
}

.item-number-tag {
	cursor: pointer;
}

.item-tag.item-tag-drop {
	margin: 0 4px 8px 0;
}

.number-tag-dropdown:hover .item-number-tag {
	background: #dfdfdf;
	color: #474747;
}

// End: dropdown tags в карточке актёра

// Srart: dropdown tags в actor__profile slide #2
.number-tag-actor__profile {
	width: 171px;
	left: 0;
	top: auto;
	bottom: 23px;
	padding: 3px 4px 7px 12px;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 6px;
}

// End: dropdown tags в actor__profile slide #2

// Start: sidebar-dropdown-header-title
.header-title-inner {
	width: 203px;
	padding: 8px;
	left: 20px;
	top: 33px;
	border-radius: 8px;
}

.sidebar-dropdown-header-title .header-title-inner {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.sidebar-dropdown-header-title:hover .header-title-inner {
	opacity: 1;
	visibility: visible;
}

.header-title-inner .header-title-item {
	padding: 8px 12px;
	cursor: pointer;

	&:hover {
		background: #f2f2f2;
		border-radius: 4px;
	}
}

.header-title-btn {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #424242;
}

.sidebar-header-arrow-box {
	margin-left: 3px;
}

.sidebar-dropdown-header-title .sidebar-header-arrow {
	transition: transform 0.2s;
}

.sidebar-dropdown-header-title:hover .sidebar-header-arrow {
	transform: rotate(180deg);
}

// End: sidebar-dropdown-header-title

.dropdown-blue-points {
	margin-left: 6px;
}

// Start: Dropdown статусов в шапке сайта -------------------------------->
.status-counter-inner {
	position: relative;
	cursor: pointer;
	display: none;

	&:hover .status-counter {
		background: #dfdfdf;
		color: #474747;
	}

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: -2px;
	}

	&.show {
		display: flex;
	}

	// @media (max-width: 1366px) {
	// 	display: flex;
	// }
}

.status-counter-dropdown {
	position: absolute;
	display: flex;
	align-items: center;
	min-height: 44px;
	padding: 2px 12px 0;
	top: 22px;
	left: 0;
	z-index: 100;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 6px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;

	// opacity: 1;
	// visibility: visible;
}

.status-counter-inner:hover .status-counter-dropdown {
	opacity: 1;
	visibility: visible;
}

// End: Dropdown статусов в шапке сайта ---------------------------------->

// Start: Dropdown block в actor__profile ---------------------------------->
.actor__profile-dropdown-block {
	right: 200px;
	width: 246px;
	padding: 19px 19px 19px 18px;
}

.actor__profile-dropdown-block-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 65px;
	border-radius: 4px;
	background-color: #edb6b6;
	margin-bottom: 20px;
}

.actor__profile-dropdown-block-btn {
	margin-top: 16px;
	width: 206px;
}

// End: Dropdown block в actor__profile ---------------------------------->

// Start: Dropdown header casting__data ---------------------------------->

.casting__data-header-dropdown-inner {
	width: 198px;
}

// End: Dropdown header casting__data ---------------------------------->

.dropdown-date .dropdown-date-inner {
	width: 344px;
	left: 0;
	top: 42px;
	padding: 32px 32px 24px;
	opacity: 0;
	visibility: hidden;
	transition: 0.2s ease-out;
}

.dropdown-date.--active .dropdown-date-btn {
	border: 2px solid rgba(112, 168, 221, 0.7);
	padding: 0 9px 0 11px;

	& .calendar-image-icon path {
		fill: #70a8dd;
	}
}

.dropdown-date.--active .dropdown-date-inner {
	opacity: 1;
	visibility: visible;
}

// Start: dropdown-select
.dropdown-select {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	background: #fafafa;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	&:hover {
		border: 1px solid #bdbdbd;

		& .dropdown-select-btn-icon path {
			fill: #9e9e9e;
		}
	}

	&.dropdown-select_active {
		border: 2px solid rgba(112, 168, 221, 0.7);
		& .dropdown-select-btn {
			padding: 8px 5px 8px 11px;

			&.--sum {
				color: #424242;
			}
		}
		& .dropdown-select-btn-icon path {
			fill: #9e9e9e;
		}

		& .dropdown-select-btn-icon.--map path {
			fill: #70a8dd;
		}
	}

	&.--sum {
		width: 48px;
		border-radius: inherit;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.dropdown-select-btn {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #9e9e9e;
	padding: 9px 6px 9px 12px;
}

.dropdown-select-btn-icon {
	margin-left: auto;
}

.dropdown-select-menu {
	position: absolute;
	top: 42px;
	left: -2px;
	width: calc(100% + 4px);
	border: 1px solid #e7e7e7;
	box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
	padding: 20px 0 0 0;
	border-radius: 4px;
	background: #ffffff;
	opacity: 0;
	visibility: hidden;

	// opacity: 1;
	// visibility: visible;
	z-index: 99;
	transition: opacity 0.2s;
}

.dropdown-select-menu.menu-active {
	opacity: 1;
	visibility: visible;
}

.dropdown-select-menu-inner {
	padding: 0 8px 0 20px;
	margin-right: 8px;
	height: calc(100vh);
	max-height: 370px;
	overflow-y: auto;
	scrollbar-color: #e0e0e0 transparent;
	scrollbar-width: thin;

	&.--project-name {
		max-height: 247px;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 71px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
		margin-bottom: 8px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #e0e0e0;
		border-radius: 100px;
		background-clip: padding-box;
	}
}

.dropdown-select-menu-header {
	padding: 0 20px 15px;
	border-bottom: 1px solid #e0e0e0;
}

.dropdown-select-menu-item {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	padding: 0 12px;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #424242;
	margin-right: 8px;
	margin-bottom: 8px;
	background: #fafafa;
	border-radius: 4px;
	cursor: pointer;

	&:hover {
		background: #f5f5f5;
	}

	&.--active {
		background: #eee;
		&:hover {
			background: #e0e0e0;
		}
	}

	&.--create {
		background: #ebf5ff;
		color: #1991eb;
		&:hover {
			background: #d3e9ff;
		}

		&.--hide-js {
			display: none;
		}
	}
}

.dropdown-select-menu-footer {
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid #e0e0e0;
	padding: 16px 20px;
}

.check-black {
	margin-left: auto;
}
// End: dropdown-select

// Start: attention-dropdown
.attention-dropdown {
	position: relative;

	&:hover .attention-dropdown-text {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.2s;
	}
}

.attention-dropdown-text {
	position: absolute;
	top: 42px;
	left: 0;
	padding: 16px;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.5px;
	color: #fff;
	background-color: #424242;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
}
// End: dropdown-select

.create__casting-filter .dropdown-config-role {
	border-radius: 4px;
	padding: 0 8px 0 12px;
	background: #fafafa;
}

.dropdown-config-role-title {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #424242;
	border-right: 1px solid #e0e0e0;
	padding-right: 8px;
}

.dropdown-config-role-text {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #bdbdbd;
	margin-left: 8px;
}

.dropdown-config-role-item-title {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #424242;
	padding-right: 8px;
}

.dropdown-config-role-item-text {
	font-size: 14px;
	line-height: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: 0.25px;
	color: #bdbdbd;
	margin-left: auto;
}

.dropdown-sum-select-inner .dropdown-config-role-item-title {
	border-right: 1px solid #e0e0e0;
}

.dropdown-sum-select-inner .dropdown-config-role-item-text {
	margin-left: 8px;
}

.dropdown-sum-select .dropdown-config-role-items {
	padding: 8px !important;
}

.dropdown-sum-select .dropdown-config-role-item {
	width: 100% !important;
	justify-content: start !important;
	padding: 0 8px !important;
}
