.favorites__tabs-content {
	position: relative;
	width: 100%;
	margin: 24px 0 20px;
}

.filter__form {
	padding: 18px 19px 19px;
	margin-bottom: 20px;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);
	background: #fff;
}

.filter__form-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 13px;
	margin-bottom: 20px;
}

.add-to-project-dropdown,
.consists-projects-dropdown {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: -17px;
	}
}

.add-to-project-modal {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 363px;
	top: 41px;
	right: -16px;
	padding: 12px 16px;
	border-radius: 8px;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	background-color: #fff;
	z-index: 200;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.add-to-project-dropdown:hover .add-to-project-modal {
	opacity: 1;
	visibility: visible;
}

.add-to-project-dropdown:hover .add-to-project-btn {
	background: #a0cfff;
	color: #127fd1;
}

.consists-projects-modal {
	position: absolute;
	width: 363px;
	top: 41px;
	right: -16px;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	background-color: #fff;
	z-index: 200;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
	// opacity: 1;
	// visibility: visible;
}

.consists-projects-dropdown:hover .consists-projects-modal {
	opacity: 1;
	visibility: visible;
}

.consists-projects-dropdown:hover .add-to-project-btn {
	background: #a0cfff;
	color: #127fd1;
}


.consists-projects-close-btn {
	position: absolute;
	top: 6px;
	right: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent;
	transition: all .2s;
}

.consists-projects-modal-switch {
	max-width: 178px;
}

.consists-projects-switch {
	height: 21px;
}

.consists-projects-modal-content {
	padding: 9px 15px 10px;
	border: 1px solid #E7E7E7;
	border-bottom-width: 2px;
	border-radius: 4px;
}

.consists-projects-modal-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4px;

	&:last-child {
		margin-bottom: 0;
	}
}

.consists-projects-modal-item-left {
	display: flex;
	align-items: center;
}

.consists-projects-modal-item-title {
	margin-left: 8px;
	margin-top: 2px;
}

.consists-projects-modal-footer {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.consists-projects-modal-item-text {
	transition: all 0.2s;

	&:hover {
		color: #157EDC;
	}
}