// Основной заголовок в карточках на главной странице
.item-title {
	font-size: 16px;
	line-height: 17px;
	font-weight: 700;
	letter-spacing: 0.5px;
	color: #212121;
}

// Цвет и размер текста в дропдаунах
.dropdown-text {
	font-size: 15px;
	line-height: 15px;
	color: #637380;
}

// Цветные точки индикаторы
.color-dot {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-left: 4px;
	background-color: #f2cbba;
	&.--green {
		background-color: #b0ead5;
	}
	&.--grey {
		background-color: #e0e0e0;
	}
}

// Теги в карточках актера
.item-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 4px 4px 0;
	padding: 0 8px;
	height: 21px;
	font-size: 11px;
	letter-spacing: 0.4px;
	border-radius: 4px;
	color: #757575;
	background: #eee;
}

.item-number-tag {
	padding: 0 4px;
}
