// Основной заголовок в карточках на главной странице
.item-title {
	font-size: 16px;
	line-height: 17px;
	font-weight: 700;
	letter-spacing: 0.5px;
	color: #212121;
}

// Серый маленький текст в профиле актера
.text-small-gray {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

// Цвет и размер текста в дропдаунах
.dropdown-text {
	font-size: 15px;
	line-height: 15px;
	color: #637380;
}

// Цветные точки индикаторы
.color-dot {
	position: relative;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-left: 4px;
	background-color: #f2cbba;
	&.--green {
		background-color: #b0ead5;
	}
	&.--grey {
		background-color: #e0e0e0;
	}
}

// Теги в карточках актера
.item-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 4px 4px 0;
	padding: 0 8px;
	height: 21px;
	font-size: 11px;
	letter-spacing: 0.4px;
	border-radius: 4px;
	color: #757575;
	background: #eee;
}

.item-number-tag {
	padding: 0 4px;
}

// Вертикальные линии
.vl-12 {
	border-left: 1px solid #eee;
	height: 12px;
}

.vl-16 {
	border-left: 1px solid #e0e0e0;
	height: 16px;
}

.vl-20 {
	border-left: 1px solid #eee;
	height: 20px;
}

.vl-30 {
	border-left: 1px solid #e0e0e0;
	height: 30px;
}

// Горизонтальные линии
.h-line {
	height: 1px;
	background-color: #e0e0e0;
}

// Индикатор количества сообщений рядом с иконкой чата
.chatCircleCounter {
	position: absolute;
	top: 13px;
	right: 3px;
	display: inline-flex;
	justify-content: center;
	min-width: 13px;
	height: 13px;
	line-height: 13px;
	padding: 0 3px;
	font-size: 9px;
	font-weight: 500;
	letter-spacing: 0.4px;
	color: #fff;
	border-radius: 50%;
	background-color: #1991eb;
	border: 1px solid #fff;
}

// Навыки-теги в дропдауне фильтр
.item-skill-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 8px 8px 0;
	padding: 0 12px;
	height: 24px;
	font-size: 13px;
	letter-spacing: 0.4px;
	border-radius: 4px;
	color: #1991eb;
	background: #dbedff;
}

// Текст в инпуте
.inputText {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #bdbdbd;
}

// Стили текста

.primary-title {
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #70a8dd;
}

.title-blackBluish-small {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #424242;
}

.text-blackBrown-small {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #212121;
	&.--active {
		color: #1991eb;
	}
}

.text-blackBrown {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #212121;
}

.text-blackBrown-large {
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.15px;
	color: #212121;
}

.text-platinumGrey-regular {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.5px;
	color: #757575;
}

.text-platinumGrey-medium {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #757575;
}

.text-lightGrey-small {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.text-lightGrey-medium {
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.text-lightGrey-medium-higher {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.text-blackBluish {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #424242;
}

.text-blackBluis-regular {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #424242;
}

.text-blackBluis-large {
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.15px;
	color: #424242;
}

.title-blackBrown-small {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #212121;
}

.text-lightGrey-regular {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #9e9e9e;
}

.text-lightGrey-extra-small {
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.text-lightGrey-bd {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #bdbdbd;
}

.text-dullGrey {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #616161;
}

.text-dullGrey-small {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #616161;
}

// Отступы
.mb-1 {
	margin-bottom: 1px;
}

.mb-2 {
	margin-bottom: 2px;
}

.mb-3 {
	margin-bottom: 3px;
}

.mb-6 {
	margin-bottom: 6px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-32 {
	margin-bottom: 32px;
}

.mt-3 {
	margin-top: 3px;
}

.mt-1 {
	margin-top: 1px;
}

.ml-8 {
	margin-left: 8px;
}

// Высота строки line-height
.lh-17 {
	line-height: 17px;
}

.myLoader {
	width: 20px;
	height: 20px;
	background-image: url(../images/border-preloader.png);
	background-repeat: no-repeat;
	animation: 1s myAnim linear infinite;
}

@keyframes myAnim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.number-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #616161;
	background: #eeeeee;
	&.--active {
		background: #80c7fc;
		color: #fff;
	}
	&.--complete {
		background: #b0ead5;
	}
}

// Inputs

.input-box-empty {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 9px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background: #fafafa;
	& input {
		width: 100%;
		background: transparent;
		font-size: 14px;
		letter-spacing: 0.25px;
		color: #424242;
	}
	&:hover {
		border: 1px solid #bdbdbd;
	}
	&:focus-within {
		padding: 8px;
		border: 2px solid rgba(112, 168, 221, 0.7);
	}
	// error UI Elements /  Inputs & Actions
	&.--error {
		padding: 8px;
		border: 2px solid rgba(223, 130, 130, 0.7);
	}
}

// Area

.area-field {
	display: flex;
	font-size: 14px;
	line-height: 16px;
	width: 100%;
	height: 196px;
	resize: none;
	letter-spacing: 0.25px;
	padding: 12px;
	color: #424242;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background: #fafafa;
	cursor: text;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	&:hover {
		border: 1px solid #bdbdbd;
	}
	&:focus-within {
		padding: 11px;
		border: 2px solid rgba(112, 168, 221, 0.7);
	}
	&.--error {
		padding: 11px;
		border: 2px solid rgba(223, 130, 130, 0.7);
	}
}
