// Start: Projects
.project-container {
	padding-top: 144px;
	user-select: none;
}

.project__addActor-container {
	max-width: 1042px;
	padding: 0 40px;
	margin: 0 auto;
	user-select: none;
}

.tabs-inner {
	position: relative;

	&.active {
		z-index: 9999;
	}
}

.tabs_project {
	display: flex;
	padding-right: 40px;
	background-color: #f5f5f5;
	transition: 0.2s;

	&.active {
		padding-top: 14px;
		// transition: 0.2s;
	}
}

.tabs__container {
	display: flex;
}

.tab_project__inner {
	overflow: hidden;
	cursor: pointer;
	margin-right: -4px;

	&.active {
		z-index: 200;

		& .tab_project_data {
			color: #424242;

			&:before {
				box-shadow: none;
				background-color: #fff;
			}
		}
	}
}

.tab_project-dropdown {
	display: flex;
	align-items: center;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
	margin-right: -4px;

	@media (hover: hover) {

		&:hover,
		&.active {
			z-index: 100;

			& .tab_project-dropdown-arrow {
				transform: rotate(180deg);

				& path {
					fill: #616161;
				}
			}

			& .tab_project_data {
				color: #424242;
			}

			& .tab_project_data:before {
				box-shadow: none;
				background-color: #fff;
			}
		}
	}


}

.tab_project-dropdown-arrow {
	margin-left: 6px;
	transition: transform 0.2s;
}

.tab_project_data {
	position: relative;
	display: flex;
	align-items: center;
	padding: 4px 44px 0 24px;
	height: 48px;
	white-space: nowrap;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #757575;
	z-index: 100;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 11px;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 8px 8px 0 0;
		transform: perspective(7px) rotateX(1deg);
		transform-origin: left;
		background-color: #fafafa;
		box-shadow: -1px 4px 8px rgba(0, 0, 0, 0.1);
	}
}

.tab_project_data-1 {
	z-index: 100;
}

.tab_project_data-2 {
	z-index: 90;
}

.tab_project_data-3 {
	z-index: 80;
}

.tab_project_data-4 {
	z-index: 70;
}

.main-inner_project {
	border-radius: 0 !important;
}

.teamwork__container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.teamwork__users {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	max-width: 152px;
	height: 36px;
	margin-right: 16px;
}

.teamwork__users_img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: -12px;
	z-index: 2;
	// border: 2px solid #f5f5f5;

	&:first-child {
		z-index: 1;
	}

	&:last-child {
		margin-right: 0;
	}
}

.teamwork-counter {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 12px;
	letter-spacing: 0.4px;
	color: #424242;
	width: 36px;
	height: 36px;
	margin-right: -12px;
	border: 2px solid #f5f5f5;
	background-color: #bdbdbd;
	z-index: 10;
}

.teamwork-plug {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 12px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #fff;
	width: 36px;
	height: 36px;
	margin-right: -12px;
	border: 2px solid #f5f5f5;
	background-color: #009688;
	z-index: 10;
}

.teamwork__dropdown {
	position: relative;
	cursor: pointer;

	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		bottom: -7px;
		right: 0;
		display: block;
	}
}

.main_project-container {
	display: flex;
}

.main-items_project-wrapper {
	height: calc(100vh - 312px) !important;
	width: calc(100vw - 671px) !important;
	transition: width 0.4s;

	&.active {
		width: calc(100vw - 423px) !important;
	}

	&.expanded {
		width: calc(100vw - 295px) !important;
	}

	&.expanded_height {
		height: calc(100vh - 169px) !important;
	}
}

.main__item_plus-btn_box {
	display: flex;
	padding: 0 16px 0 24px;
	margin-bottom: 16px;
}

.main__item_plus-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	background-color: #e0e0e0;
	transition: 0.2s ease;

	&:hover {
		background-color: #d5d5d5;

		& svg path {
			transition: all 0.2s;
			stroke: #424242;
		}
	}
}

.right__sidebar {
	min-width: 264px;
	padding: 24px;
	height: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #fff;
	z-index: 100;
}

.right__sidebar-inner {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - 336px);

	&.active {
		height: calc(100vh - 193px);
	}

	&::-webkit-scrollbar {
		width: 0;
	}
}



.right__sidebar_item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 364px;
	margin-bottom: 17px;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	padding: 16px 15px 15px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);

	&.--dropdown {
		padding: 19px 15px 15px;
	}

	&.autoScroll {
		transform: translateY(0);
		animation: spin infinite 50s linear;
	}
}

@keyframes spin {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-2600px);
	}
}

.right__sidebar_item_image {
	width: 168px;
	height: 225px;
	margin-bottom: 11px;

	& img {
		max-width: 100%;
		height: auto;
	}
}



.right__sidebar_item_title {
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.5px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #212121;
}

.addToProject-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	height: 24px;
	width: 100%;
	font-size: 13px;
	padding: 0 11px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	color: #fff;
	border: 2px solid transparent;
	background: #1991eb;
	transition: all 0.2s ease;

	&:hover {
		background: #127fd1;
	}
}

.dropdown-ensemble_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
}

.dropdown-ensemble_wrapper-btn {
	min-width: 97px;
}

.ensemble-dropdown-btn {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	padding: 4px 8px 0 14px;
	height: 48px;
	letter-spacing: 0.25px;
	color: #424242;
	background-color: transparent;
	transition: all 0.2s;
}

.ensemble-dropdown-title {
	margin-right: 6px;
}

.dropdown-mainRole .dropdown-ensemble-inner {
	width: 440px;
	min-height: 429px;
	border-radius: 8px;
	box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
	left: 14px;
	top: 42px;
	opacity: 0;
	visibility: hidden;
	// opacity: 1 !important;
	// visibility: visible !important;
	transition: all 0.2s;
}

.dropdown-ensemble-header {
	padding: 8px 16px 0 14px;
}

.input-box.input-box_small {
	& input {
		line-height: 26px;
		border: 2px solid transparent;
	}

	&:focus-within {
		padding: 0 11px;
		border: 2px solid rgba(112, 168, 221, 0.7);

		& input {
			line-height: 24px;
		}
	}
}

.sidebar-header_project {
	justify-content: space-between;
}

.dropdown-inner.dropdown-grey-points_project {
	width: 282px;
}

.send_role_text__inner {
	position: absolute;
	top: 36px;
	right: 0;
	width: 405px;
	z-index: 250;
	padding: 20px 24px;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	// opacity: 1;
	// visibility: visible;
}

.dropdown-grey-points .send_role_text__inner.active {
	opacity: 1;
	visibility: visible;
}

.send_role_text-close-btn,
.send_project_pdf-close-btn,
.change_column_name-close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent;
	transition: all 0.2s;

	&:hover svg path {
		transition: all 0.2s;
		stroke: #616161;
	}
}

.send_project_pdf__inner {
	position: absolute;
	top: 36px;
	right: 0;
	width: 328px;
	z-index: 250;
	padding: 20px 24px;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	// opacity: 1;
	// visibility: visible;
}

.dropdown-grey-points .send_project_pdf__inner.active {
	opacity: 1;
	visibility: visible;
}

.create_copy_column__inner {
	position: absolute;
	left: 0;
	z-index: 250;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	width: 328px;
	top: 27px;
	padding: 20px 24px;
	opacity: 0;
	visibility: hidden;
	// opacity: 1;
	// visibility: visible;
}

.dropdown-transfer .create_copy_column__inner.active {
	opacity: 1;
	visibility: visible;
}

.dropdown-request-js .main__item-project-modal {
	opacity: 0;
	visibility: hidden;
}

.dropdown-request-js .main__item-project-modal.active {
	opacity: 1;
	visibility: visible;
}

.dropdown-request-js .main__item-project-modal {
	width: 269px;
	left: 0;
	top: 27px;
	transition: all 0.2s;
}

.change_column_name-modal {
	position: absolute;
	left: 0;
	z-index: 250;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	width: 328px;
	top: 27px;
	padding: 20px 24px;
	opacity: 0;
	visibility: hidden;
	// opacity: 1;
	// visibility: visible;
}

.dropdown-request-js .change_column_name-modal.active {
	opacity: 1;
	visibility: visible;
}

.action-btn {
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	height: 24px;
	min-width: 96px;
	font-size: 13px;
	line-height: 25px;
	padding: 0 8px 0 12px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	color: #1991eb;
	background: #dbedff;
	transition: all 0.2s ease;

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: -3px;
		left: 0;
		right: 0;
		bottom: -3px;
	}

	&.active {
		color: #127fd1;
		background: #a0cfff;

		& span svg {
			transform: rotate(180deg);
		}

		& span svg path {
			fill: #127fd1;
		}
	}

	& span {
		line-height: 24px;
	}

	& span svg {
		transition: transform 0.2s;
	}
}

.dropdown-actions__modal {
	position: absolute;
	width: 227px;
	z-index: 9999;
	padding: 11px 8px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04),
		0 0 1px rgba(0, 0, 0, 0.04);
	background-color: #fff;
	transition: all 0.2s linear;

	& li {
		padding: 8px;
		cursor: pointer;

		&:hover {
			background: #f2f2f2;
			border-radius: 4px;
		}
	}

	& button {
		display: flex;
		align-items: center;
	}
}

.actions-text {
	margin-left: 12px;
	margin-top: 3px;
}

.move-actor__modal {
	position: absolute;
	z-index: 9999;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	width: 328px;
	padding: 20px 24px;
}

.dropdown-ensemble__container {
	max-height: 270px;
	padding: 0 12px 0 16px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: #e0e0e0 transparent;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 4px;
		height: 71px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
		margin-bottom: 8px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #e0e0e0;
		border-radius: 100px;
		background-clip: padding-box;
	}
}

.dropdown-ensemble__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
	cursor: pointer;
}

.dropdown-ensemble__item-content {
	display: flex;
	align-items: center;
	width: 365px;
	height: 40px;
	padding: 0 12px;
	border-radius: 4px;
	background-color: #fafafa;
	transition: 0.2s;

	@media (hover: hover) {
		&:hover {
			background-color: #eee;
			transition: 0.2s;

			& .dropdown-ensemble__item-btns {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&.delete {
		background-color: #eee;
	}
}

.js-dropdown-ensemble__item-content.show {
	background-color: #eee;
	transition: 0.2s;

	& .dropdown-ensemble__item-btns {
		opacity: 1;
		visibility: visible;
	}

	& .js-dropdown-ensemble__item_btn {
		border-radius: 4px;
		background-color: #e0e0e0;
	}
}

.dropdown-ensemble__item-points_btn {
	position: relative;

	&:after {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		left: 0;
		bottom: -10px;
	}

}

.dropdown-ensemble__item-title {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #424242;
}

.dropdown-ensemble__item-btns {
	display: flex;
	align-items: center;
	margin-left: auto;
	opacity: 0;
	visibility: hidden;
}

.dropdown-ensemble-wrapper-points_btn {
	position: relative;
}

.dropdown-ensemble__item_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	margin-left: 6px;

	@media (hover: hover) {
		&:hover {
			border-radius: 4px;
			background-color: #e0e0e0;
		}
	}

	&:active {
		border-radius: 4px;
		background-color: #e0e0e0;
	}
}

.dropdown-ensemble__item-icon {
	display: flex;
	margin-right: -10px;
}

.dropdown-ensemble-points_modal {
	position: absolute;
	z-index: 200;
	top: 21px;
	width: 282px;
	right: 0;
	padding: 11px 8px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04),
		0 0 1px rgba(0, 0, 0, 0.04);
	background-color: #fff;
	transition: all 0.2s linear;
	opacity: 0;
	visibility: hidden;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	& li {
		padding: 8px;
		cursor: pointer;

		&:hover {
			background: #f2f2f2;
			border-radius: 4px;
		}
	}

	& button {
		display: flex;
		align-items: center;
	}
}

.dropdown-ensemble__item-change_name {
	display: flex;
	align-items: center;
	width: 100%;
}

.dropdown-ensemble__item-btn {
	min-width: 107px;
}

.dropdown-ensemble__item-cancel-btn {
	min-width: 86px;
}

.dropdown-ensemble__item-delete-btn {
	min-width: 88px;
}

.teamwork__dropdown:hover .teamwork_btn {
	background: #a0cfff;
	color: #127fd1;
}

.teamwork__dropdown .teamwork__dropdown-modal {
	position: absolute;
	width: 594px;
	min-height: 481px;
	top: 34px;
	right: 0;
	padding: 11px 8px;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04),
		0 0 1px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	z-index: 200;
	opacity: 0;
	visibility: hidden;
	// opacity: 1 !important;
	// visibility: visible !important;

	&:after {
		position: absolute;
		content: '';
		display: block;
		bottom: -55px;
		top: 0;
		right: 0;
		left: 0;
		z-index: -1;
	}
}

.teamwork__dropdown:hover .teamwork__dropdown-modal {
	opacity: 1;
	visibility: visible;
}

.teamwork_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 157px;
	height: 32px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	padding: 2px 5px 0;
	border-radius: 4px;
	color: #1991eb;
	background: #dbedff;
	transition: 0.2s ease;
}

.teamwork__dropdown-header {
	padding: 9px 15px 0 15px;
}

.teamwork__dropdown-header-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.5px;
	color: #424242;
	margin-bottom: 19px;
}

.teamwork__dropdown-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 15px;
}

.teamwork__dropdown-wrapper .teamwork__dropdown-input-box {
	padding: 0 100px 0 12px;

	&:focus-within {
		padding: 0 100px 0 11px;
	}
}

.teamwork__dropdown-input-modal {
	position: absolute;
	top: 4px;
	right: 141px;
	width: 80px;
	height: 100%;
	cursor: pointer;

	@media (hover: hover) {
		&:hover {
			& .teamwork__dropdown-input-modal-title {
				color: #616161;
			}

			& .teamwork__dropdown-input-modal-arrow {
				transform: rotate(180deg);
			}

			& .teamwork__dropdown-input-modal-arrow path {
				fill: #9e9e9e;
			}

			& .teamwork__dropdown-input-modal-inner {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.teamwork__dropdown-input-modal-title {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #9e9e9e;
}

.teamwork__dropdown-input-modal-arrow {
	transition: transform 0.2s;
	margin-bottom: 1px;
	margin-left: 2px;
}

.teamwork__dropdown-input-modal-btn {
	min-width: 122px;
}

.teamwork__dropdown-input-modal-inner {
	position: absolute;
	top: 30px;
	right: -11px;
	opacity: 0;
	visibility: hidden;
}

.teamwork__dropdown__container {
	height: 292px;
	padding: 0 11px 0 15px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: #e0e0e0 transparent;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 4px;
		height: 71px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
		margin-bottom: 8px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #e0e0e0;
		border-radius: 100px;
		background-clip: padding-box;
	}
}

.teamwork__dropdown__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	margin-bottom: 16px;
	cursor: pointer;

	&:hover .teamwork__dropdown__item-data-status-btn {
		opacity: 1;
		visibility: visible;
	}
}

.teamwork__dropdown__item-content {
	display: flex;
	align-items: center;
}

.teamwork__dropdown__item-user {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 12px;
}

.teamwork__dropdown__item-data-name {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	margin-bottom: 4px;
	color: #424242;
}

.teamwork__dropdown__item-data-status {
	display: flex;
	align-items: center;
}

.teamwork__dropdown__item-data-status-action {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.teamwork__dropdown__item-data-status-btn {
	position: relative;
	margin-left: 16px;
	opacity: 0;
	visibility: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 3px;
		left: -9px;
		width: 1px;
		height: 8px;
		background-color: #e0e0e0;
	}
}

.teamwork__dropdown__item-role {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #9e9e9e;
}

.teamwork__dropdown-item-modal {
	position: relative;
	margin-bottom: 1px;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: -5px;
	}

	@media (hover: hover) {
		&:hover {
			& .teamwork__dropdown__item-role {
				color: #616161;
			}

			& .teamwork__dropdown-item-modal-arrow {
				transform: rotate(180deg);
			}

			& .teamwork__dropdown-item-modal-arrow path {
				fill: #9e9e9e;
			}

			& .teamwork__dropdown-item-modal-inner {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.teamwork__dropdown__item:last-child .teamwork__dropdown-item-modal {
	@media (hover: hover) {
		& .teamwork__dropdown-item-modal-inner {
			top: -84px;
		}
	}
}

.teamwork__dropdown-item-modal-arrow {
	transition: transform 0.2s;
	margin-bottom: 1px;
	margin-left: 2px;
}

.teamwork__dropdown-item-modal-inner {
	position: absolute;
	top: 28px;
	right: 0;
	opacity: 0;
	visibility: hidden;
}

.teamwork__dropdown-footer {
	padding: 0 15px 8px;
}

.teamwork__dropdown-footer-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #e0e0e0;
	padding-top: 16px;
}

.selectField-list .teamwork__dropdown-footer-options {
	margin-bottom: 0;
	background: #fff;

	&:hover {
		background: #f2f2f2;
	}

	& span {
		color: #70a8dd;
	}
}

.teamwork__dropdown-footer-btn {
	min-width: 186px;
}

.dotted-empty-wrapper {
	display: flex;
	flex-direction: column;
	flex: 0 0 348px;
	min-height: 800px;
	padding: 12px;
	border-radius: 8px;
	margin-right: 27px;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23DCDCDCFF' stroke-width='1' stroke-dasharray='9%2c 5' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");

	&.--blue {
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2370a8ddFF' stroke-width='1' stroke-dasharray='9%2c 5' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
		border-radius: 8px;
	}
}

.dotted-header-title {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding: 12px;
	color: #bdbdbd;

	&.--blue {
		color: #70a8dd;
	}
}

.dotted-empty-create {
	display: flex;
}

.dotted-empty-create-btn {
	min-width: 97px;
}

.dotted-empty-wrapper-head {
	margin-bottom: 16px;
}

.tabs_project-modal {
	position: absolute;
	width: 296px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;

	&.show {
		opacity: 1;
		visibility: visible;
	}

}

.create__form-title-modal {
	top: 32px;
	right: 0;
	width: 231px;

	@media (max-width: 1140px) {
		right: -47px;
	}
}

.project__addActor-wrapper {
	position: relative;
	max-width: 982px;
	display: flex;
	height: 100%;
}

.project__addActor-left {
	min-width: 296px;
	overflow-y: auto;
	height: calc(100vh - 211px);
	width: 100%;

	&::-webkit-scrollbar {
		width: 0;
	}
}

.project__addActor-left-inner {
	padding: 18px 19px 23px;
	border: 1px solid #e7e7e7;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);
	border-radius: 8px;
	background: #fff;
}

.project__addActor-left-inner-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 13px;
	margin-bottom: 20px;
}

.project__addActor-left-inner-head-count {
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.5px;
	color: #BDBDBD;
}

.project__addActor-left-inner-btn {
	width: 100%;
}

.project__addActor-main {
	display: flex;
	flex-wrap: wrap;
	min-width: 686px;
	margin-top: -1px;
	padding-top: 1px;
	padding-left: 40px;
	// padding-right: 20px;
	overflow-y: auto;
	height: calc(100vh - 211px);

	&::-webkit-scrollbar {
		width: 6px;
		height: 376px;
		background-color: #f5f5f5;
		bottom: -50px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #e0e0e0;
		border-radius: 100px;
		box-shadow: inset 0 -16px 0 0 #f5f5f5;
	}

	@media (max-width: 1082px) {
		min-width: 429px;
	}
}

.main__item-card-info-title {
	font-size: 12px;
	padding-top: 4px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #A0AFBB;
}

.project__addActor-guest {
	max-width: 560px;
	margin: 0 auto;
}

.addActor-guest-form {
	padding: 39px;
	border: 1px solid #E7E7E7;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	background: #FFF;
}

.user__photo-form {
	display: flex;
	padding: 20px;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	margin-bottom: 40px;
}

.user__photo-form-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 180px;
	height: 270px;
	border-radius: 4px;
	background: #FAFAFA;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		background: #F5F5F5;
	}

	&.--error {
		background: #FFEDEA;
	}
}

.userCirclePlus {
	margin-top: 32px;
}

.download-icon {
	margin-top: 41px;
	margin-bottom: 13px;
}

.user__photo-form-box-text {
	max-width: 140px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	margin-top: 27px;
	color: #616161;

	&.--error {
		color: #B02D2D;
	}
}

.user__photo-form-box-subtext {
	max-width: 140px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.4px;
	margin-top: 9px;
	color: #9E9E9E;

	&.--download {
		margin-top: 5px;
	}
}

.user__photo-form-content {
	flex: 0 0 240px;
	margin-left: 20px;
}

.user__photo-form-content-btns {
	margin-top: 74px;
}

.addActor-guest-form-btns {
	display: flex;
	justify-content: flex-end;
}

.project-favorites-block {
	display: flex;
	justify-content: space-between;
	padding: 39px;
	width: 618px;
	height: 290px;
	border: 1px solid #E7E7E7;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	background-color: #fff;
}

.project-favorites-block-text {
	max-width: 240px;
	padding-top: 23px;
}

.project__training-slide-1 {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);

	@media (max-width: 1280px) {
		height: 370px;
	}
}

.project__training-slide-2 {
	position: absolute;
	bottom: -349px;
	left: 51.4%;
	transform: translateX(-50%);

	@media (max-width: 1280px) {
		width: 458px;
		bottom: -352px;
	}
}

.project__training-slide-3 {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 50.1%;
	transform: translateX(-50%);
}

.project__training-slide-4 {
	position: absolute;
	top: 50.6%;
	left: 50.5%;
	transform: translate(-48%, -50%);
}

.project__training-slide-5 {
	position: absolute;
	top: 50.7%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.project__training-slide-6 {
	position: absolute;
	bottom: 0;
	left: 50.1%;
	width: 100%;
	transform: translateX(-50%);
}

.project__training-slide-10 {
	position: absolute;
	bottom: 0;
	width: 94.4%;
	left: 49.4%;
	transform: translateX(-50%);
}

.project__training-slide-11 {
	position: absolute;
	bottom: 0px;
	width: 95.8%;
	left: 50.1%;
	transform: translateX(-50%);
}

.project-slide-5-icons {
	margin-left: -8px;

}

.project__training-slide-13 {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
}

.project-slide-13-icons {
	margin-left: -9px;
}

.main__item-card-close-btn {
	position: absolute;
	top: 9px;
	right: 6px;
}

.right__sidebar_item-head {
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #A0AFBB;
}

.right__sidebar_item-close-btn {
	position: absolute;
	top: 8px;
	right: 5px;
}

.right__sidebar_item-loader-btn {
	margin-top: auto;
}

.right__sidebar_item-success {
	padding: 87px 0 24px;
}

.right__sidebar .right__sidebar_item-menu {
	width: 331px;
	right: 56px;
	top: 260px;
	left: auto;
}

.js-send-role {
	position: absolute;
	top: 255px;
	right: -200px;
	width: 405px;
	z-index: 250;
	padding: 20px 24px;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

// End: Projects