// Start: Projects
.tabs-inner {
	position: relative;
}

.tabs_project {
	display: flex;
	padding-right: 40px;
}

.tabs__container {
	display: flex;
}

.tab_project__inner {
	overflow: hidden;
	cursor: pointer;
	margin-right: -4px;

	&.active {
		z-index: 200;

		& .tab_project_data {
			color: #424242;

			&:before {
				box-shadow: none;
				background-color: #fff;
			}
		}
	}
}

.tab_project_data {
	position: relative;
	display: flex;
	align-items: center;
	padding: 4px 44px 0 24px;
	height: 48px;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #757575;
	z-index: 100;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 11px;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 8px 8px 0 0;
		transform: perspective(7px) rotateX(1deg);
		transform-origin: left;
		background-color: #fafafa;
		box-shadow: -1px 4px 8px rgba(0, 0, 0, 0.1);
	}
}

.tab_project_data-1 {
	z-index: 100;
}
.tab_project_data-2 {
	z-index: 90;
}
.tab_project_data-3 {
	z-index: 80;
}

.main-inner_project {
	border-radius: 0 !important;
}

.teamwork__container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.teamwork__users {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-width: 152px;
	height: 36px;
	margin-right: 16px;
}

.teamwork__users_img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: -12px;
	// border: 2px solid #f5f5f5;

	&:last-child {
		margin-right: 0;
	}
}

.teamwork__users_img-1 {
	z-index: 1;
}
.teamwork__users_img-2 {
	z-index: 2;
}
.teamwork__users_img-3 {
	z-index: 3;
}
.teamwork__users_img-4 {
	z-index: 4;
}

.teamwork_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 157px;
	height: 32px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	padding: 2px 5px 0;
	border-radius: 4px;
	color: #1991eb;
	background: #dbedff;
	transition: 0.2s ease;

	&:hover {
		background: #a0cfff;
		color: #127fd1;
	}
}

.main_project-container {
	display: flex;
}

.main-items_project-wrapper {
	height: calc(100vh - 312px) !important;
	width: calc(100vw - 687px) !important;
}

.main__item_plus-btn_box {
	display: flex;
	padding: 0 16px 0 24px;
	margin-bottom: 16px;
}

.main__item_plus-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	background-color: #e0e0e0;
	transition: 0.2s ease;

	&:hover {
		background-color: #d5d5d5;

		& svg path {
			transition: all 0.2s;
			stroke: #424242;
		}
	}
}

.right__sidebar {
	width: 264px;
	padding: 24px;
	height: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #fff;
	z-index: 100;
}

.right__sidebar-inner {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - 336px);
}

.right__sidebar_item {
	width: 200px;
	height: 364px;
	margin-bottom: 17px;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	padding: 16px 15px 15px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.right__sidebar_item_image {
	width: 168px;
	height: 225px;
	margin-bottom: 11px;
	& img {
		max-width: 100%;
		height: auto;
	}
}

.right__sidebar_item_title {
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.5px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #212121;
}

.addToProject-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 100%;
	font-size: 13px;
	padding: 0 11px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	color: #fff;
	border: 2px solid transparent;
	background: #1991eb;
	transition: all 0.2s ease;

	&:hover {
		background: #127fd1;
	}
}

.dropdown-ensemble_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px solid #e0e0e0;
}

.ensemble-dropdown-btn {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	padding: 4px 8px 0 14px;
	height: 48px;
	letter-spacing: 0.25px;
	color: #424242;
	background-color: transparent;
	transition: all 0.2s;
}

.ensemble-dropdown-title {
	margin-right: 6px;
}

.dropdown-mainRole .dropdown-ensemble-inner {
	width: 440px;
	border-radius: 8px;
	box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
	left: 14px;
	top: 42px;
	padding: 20px 24px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}

.input-box.input-box_small {
	& input {
		line-height: 32px;
	}

	&:focus-within {
		padding: 0 11px;
		border: 2px solid rgba(112, 168, 221, 0.7);
		& input {
			line-height: 30px;
		}
	}
}

.action-btn {
	display: inline-flex;
	justify-content: space-between;
	height: 24px;
	min-width: 96px;
	font-size: 13px;
	line-height: 22px;
	padding: 0 11px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	color: #1991eb;
	background: #dbedff;
	transition: all 0.2s ease;
}

.sidebar-header_project {
	justify-content: space-between;
}

.dropdown-inner.dropdown-grey-points_project {
	width: 282px;
}

.send_role_text__inner {
	position: absolute;
	top: 37px;
	right: 0;
	width: 405px;
	z-index: 250;
	padding: 20px 24px;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border: 1px solid #E7E7E7;
	border-radius: 4px;
	background-color: #fff;
}

.send_role_text-title {
	font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: .4px;
    color: #a0afbb;
    margin-bottom: 16px;
}
// End: Projects
