// Start: Projects
.tabs-inner {
	position: relative;
}

.tabs_project {
	display: flex;
}

.tab_project__inner {
	overflow: hidden;
	cursor: pointer;
	margin-right: -4px;

	&.active {
		z-index: 200;

		& .tab_project_data {
			color: #424242;

			&:before {
				box-shadow: none;
				background-color: #fff;
			}
		}
	}
}

.tab_project_data {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 44px 0 24px;
	height: 48px;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #757575;
	z-index: 100;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 11px;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 8px 8px 0 0;
		transform: perspective(7px) rotateX(1deg);
		transform-origin: left;
		background-color: #fafafa;
		box-shadow: -1px 4px 8px rgba(0, 0, 0, 0.1);
	}
}

.tab_project_data-1 {
	z-index: 100;
}
.tab_project_data-2 {
	z-index: 90;
}
.tab_project_data-3 {
	z-index: 80;
}

.main-inner_project {
	border-radius: 0 !important;
}
// End: Projects
