.test__container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 24px;
	user-select: text;
	background: #fff;
}

.test__container-text {
	margin-left: 8px;
}

.teamwork__dropdown__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.teamwork__dropdown__item-content {
	display: flex;
	align-items: center;
}

.teamwork__dropdown__item-user {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 12px;
}

.teamwork__dropdown__item-data-name {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	margin-bottom: 4px;
	color: #424242;
}

.teamwork__dropdown__item-data-status {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #9E9E9E;
}

.teamwork__dropdown__item-role {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #9E9E9E;
}

.avatars {
	display: flex;
}

.test-forms,
.test-modal,
.test-buttons,
.test-icons {
	display: flex;
}

.test-forms-item,
.test-buttons-item {
	width: 296px;
	height: 100%;
	margin-right: 16px;
}

.test-modal-item {
	width: 363px;
	height: 100%;
	margin-right: 16px;
}

.test-icons-item {
	width: 250px;
	height: 100%;
	margin-right: 12px;
}

.test-mobile-wrapper {
	display: flex;
}

.test-mobile-container {
	position: relative;
	width: 375px;
	height: 667px;
	background: #d5d5d5;
}