@import 'notice';
@import 'menu';
@import 'font';
@import 'sidebar';
@import 'dropdown';
@import 'btn';
@import 'mobile';
@import 'null';

html,
body {
	position: relative;
	overflow-x: hidden;
	color: #212529;
	font-size: 16px;
	padding: 0;
	background: #f2f2f2;
}

/* main kinolift */

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #0064c1;
	font-family: Circe;
}

.menu-header {
	position: relative;
	display: flex;
	background-color: #0064c1;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	padding: 0 40px;
}

.menu-header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__list.active {
	display: none;
}

.btn-rounded {
	border-radius: 30px;
}

.btn-reg {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 130px;
	height: 36px;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 18px;
	background: rgba(243, 119, 59, 0.9);
	margin: 0 0 0 16px;
}

.btn-reg:hover {
	background-color: #f15e17;
}

.btn-reg:active {
	background-color: #f15e17;
}

.btn-reg:hover,
.btn-reg:active,
.btn-reg:focus,
.btn-login:hover,
.btn-login:active,
.btn-login:focus,
.lang-switch-btn:hover,
.lang-switch-btn:active,
.lang-switch-btn:focus,
.btn-more:hover,
.btn-more:active,
.btn-more:focus {
	color: #ffffff;
}

.btn-login {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 76px;
	height: 36px;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 18px;
	background-color: rgba(0, 84, 162, 0.9);
}

.btn-login:hover {
	background-color: rgba(0, 64, 124, 0.9);
}

.lang-switch-btn {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #fdfeff;
	margin-left: 20px;
}
.lang-switch-btn img {
	margin-right: 6px;
	width: 24px;
}

.menu-brand {
	margin: 0 72px 0 0;
	flex: 0 0 auto;
}

.menu-brand svg {
	width: 137px;
}

/* End: Menu burger */

/* Start: Форма поиска в шапке сайта */

.site-header-search {
	display: flex;
	flex: 0 1 496px;
	margin: 0 24px 0 0;
}

.has-search .form-control {
	padding-left: 34px;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 40px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	pointer-events: none;
	color: #757575;
}

.site-header-input {
	height: 36px;
	background-clip: border-box;
}

.site-header-input::placeholder {
	color: #9e9e9e;
}

.site-header-input:focus {
	border-color: #fff;
	box-shadow: none;
}

/* End: Форма поиска в шапке сайта */

.menu-brand.--en img {
	height: 35px;
}

@media (max-width: 768px) {
	.site-header-search {
		flex: 0 1 100%;
	}
}

// Start: Основная страница

.main {
	display: flex;
	width: 100%;
	margin-top: 142px;
}

.main-inner {
	display: flex;
	flex: 0 1 100%;
	background: #fff;
	height: calc(100vh - 142px);
	box-shadow: -1px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px 0px 0px 0px;
}

// Start: Пустое рабочее пространство

.empty__wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	margin-top: 97px;
}

.empty__wrapper-bg svg {
	max-width: 100%;
	height: auto;
}

.empty-title {
	font-size: 25px;
	line-height: 37px;
	margin-top: 33px;
	margin-bottom: 16px;
	color: #212121;
}

.empty-text {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin-bottom: 17px;
	color: #757575;
}

.empty-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #1991eb;
	color: #1991eb;
}

// End: Пустое рабочее пространство

// Start: main-header

.main-header {
	display: flex;
	min-height: 95px;
	padding: 0 40px 0 32px;
}

// End: main-header

// End: Основная страница
